/* ВСЕ НАЗВАНИЯ НА СТРАНИЦЕ */

* {
    font-weight: bold;
    font-size: large;
}

/* ШАПКА СТРАНИЦЫ */

header {
    display: flex;
    height: 10vh;

    background-color: lightgray;
}

header p {
    margin: auto;
}

/* ОСНОВНАЯ ЧАСТЬ */

main {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 75vh;

    background-color: yellow;
}

#container-1 {
    height: 60%;
}

#container-2 {
    height: 40%;
    width: 100%;
}

main div section {
    background-color: lightsalmon;
    height: 30%;
    display: flex;
}

main div section p {
    margin: auto;
}

#section-1 {
    float: left;
    width: 40%;
    margin-left: 40px;
    margin-bottom: 40px;
}

#section-2 {
    float: right;
    width: 40%;
    margin-right: 40px;
    margin-bottom: 40px;
}

#section-3 {
    clear: both;
    margin-left: 40px;
    margin-right: 40px;

}

/* БОКОВАЯ ОБЛАСТЬ */

aside {
    display: flex;
    float: right;
    justify-content: center;
    width: 30%;
    height: 75vh;

    background-color: lightgreen;
}

/* ФУТЕР */

footer {
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    background-color: lightgray;
}

footer section {
    padding: 20px 10px 20px 10px;

    background-color: white;
}