/* ВСЕ НАЗВАНИЯ НА СТРАНИЦЕ */

* {
    font-weight: bold;
    font-size: large;
}

/* ШАПКА СТРАНИЦЫ */

header {
    display: flex;
    height: 10vh;

    background-color: lightgray;
}

header p {
    margin: auto;
}

/* ОСНОВНАЯ ЧАСТЬ */

main {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 75vh;

    background-color: yellow;
}

main p {
    height: 60%;
}

main div {
    height: 40%;
}

main div section {
    background-color: lightsalmon;
}

#section-1,
#section-2 {
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
}

#section-1 {
    float: left;
    margin-right: 10px;
}

#section-2 {
    float: right;
    margin-left: 10px;
}

#section-3 {
    clear: both;
    padding: 10px 100px 10px 100px;
    text-align: center;
}

/* БОКОВАЯ ОБЛАСТЬ */

aside {
    display: flex;
    float: right;
    justify-content: center;
    width: 30%;
    height: 75vh;

    background-color: lightgreen;
}

/* ФУТЕР */

footer {
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    background-color: lightgray;
}

footer section {
    padding: 20px 10px 20px 10px;

    background-color: white;
}